
@use "../abstracts" as a;

body{
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  line-height: 1;
}

h2{
  font-size: clamp(1.75rem, 4vw, 2.75rem);
}

.sub-title{
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: a.$primary-color;

}
