@use "../abstracts" as a;

html {
  font-size: 100%;
}

body{
  margin: 0;
  overflow-x: hidden;
  line-height: 28px;
  background: #fff;
}

/* Layout
----------------------------------------------------------------------------- */

.s-pad{
  padding-block: a.$section-spacing;
}

.inner__wrapper {
  max-width: clamp(320px, 90%, a.$site-width);
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;

  @include a.min-width(a.$break-tablet-large) {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  @include a.min-width(a.$break-desktop-small) {
    padding-right: 0;
    padding-left: 0;
  }
}


.text-highlgiht{
  color: a.$primary-color;
}

/* Accessibility
----------------------------------------------------------------------------- */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

// Skip content
.skip-content:not(:focus):not(:hover) {
  transform: translateY(-4em);
  opacity: 0;
}

.skip-content:focus {
  border-color: #062434;
}

.skip-content:focus,
.skip-content:hover {
  background-color: a.$secondary-color;
  text-decoration: none;
  color: white;
}

.skip-content {
  margin: 0 auto;
  position: absolute;
  z-index: 100000;
  left: 0;
  right: 0;
  top: 0;
  padding: 8px;
  width: 100%;
  opacity: 1;
  text-align: center;
}

// Focus ring

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid a.$system--info;
  outline-offset: 2px;
}

// Splide Focus Ring

.splide.is-focus-in{
  .splide__arrow:focus, .splide__pagination__page:focus{
    outline: 3px solid a.$primary-color !important;
  }
}

/* Scroll bars
----------------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0D1210;
}

::-webkit-scrollbar-thumb {
  background: a.$primary-color;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2BC44A;
}