@use '../abstracts' as a;

.tags{
    padding: .5rem .5rem;
    border: 1px solid rgba(176, 255, 150, 0.2);
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    color: a.$primary-color;
    background: rgba(176, 255, 150, 0.08);
}