@use "../abstracts" as a;

/* Footer */

.site-footer {
    padding: 2rem 0;
    border-top: 1px solid #24322d;
    background-color: #1a2420;
    font-size: .875rem;
    color: #fff9;

  .inner__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include a.min-width(a.$break-tablet-large){
      flex-direction: row;
      justify-content: space-between;
      align-items: normal;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
  }

  &__link{
    font-weight: 200;
    letter-spacing: 1px;
    transition: a.$transition-basic;

    &:hover{
      color: #B0FF96;
      text-shadow: 0 0 8px a.$primary-color, 0 0 20px #4ade8066;
      text-decoration: none;
    }
  }

  .site-footer__copyright{
    font-size: .875rem;
    font-weight: 200;
    letter-spacing: .5px;

  }

  .site-footer__meta{
    display: flex;
    align-items: center;

    @include a.max-width(a.$break-tablet-large){
      margin-bottom: 1rem;
    }
  }

  &__social-links{
    display: flex;
    gap: .5rem;

    @include a.max-width(a.$break-tablet-large){
      margin-bottom: 1rem;
    }
  }
}

.site-footer__text,
.site-footer__copyright {
  margin: 0;
}

.site-footer__menu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}